/* Author(s): Shanel Wu */

body {
	font-family: "Helvetica", "Helvetica Neue", sans-serif;
}

h1 {
	text-align: center;
}

input {
	margin: 5px;
	padding: 5px;
	border-radius: 5px;
}

button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 8px;
	border-radius: 5px;
}

/* from https://www.w3schools.com/howto/howto_css_two_columns.asp */

.column {
	float: left;
	margin-left: 50px;
}

.left {
	width: 25%;
	padding: 10px;
}

.right {
	width: 50%;
	padding: 10px;
}

#latest input, #queueCount input {
	background-color: #EEEEEE;
}

#currTemp {
	width: 50px;
}

#currHum {
	width: 40px;
}

#queueCount input {
	width: 80px;
}

#feed table {
	width: 100%;
	padding-top: 5px;
}

td {
	border-top-style: solid;
	border-top-width: 1px;
	padding-left: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
}